.main__places {
  padding: 0 10px;
  padding-top: 75px;
  max-width: 1440px;
  margin: 0 auto;
}
.main__places.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__places-title {
  font-size: 48px;
  color:rgb(0 0 0 / 64%);
}
.main__places-button-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.main__places-button {
  padding: 0;
  color: rgb(57,20,0);
  background-color: #fff;
  border: 0px;
  border-radius: 6px;
  padding: 17px 45px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.place-card__list {
  display: grid;
  row-gap: 32px;
  column-gap: 30px;
  grid-template-columns: repeat( 4, minmax(330px, 370px) );
  grid-template-rows: auto;
  justify-content: center;
}

@media screen and (max-width:1440px) {
  .main__places {
    max-width: 1140px;
  }
  .place-card__list {
    grid-template-columns: repeat( 3, minmax(330px, 370px) );

  }
}
@media screen and (max-width:1040px) {
  .place-card__list {
    grid-template-columns: repeat( auto-fill, minmax(310px, 370px) );
  }
}