.place-card {
  max-width: 370px;
  min-width: 310px;
  width: 100%;
  position: relative;
  height: 416px;
  border-radius: 12px;
  border: 4px solid transparent;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.place-card.active {
  border-color: rgb(79,226,74);
}
.place-card__main {
  height: 100%;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 53px;
  row-gap: 16px;
  padding-right: 10px;
}
.place-card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateZ(-10px);
          transform: translateZ(-10px);
  pointer-events: none;
  border-radius: 6px;
}
.place-card__filter-button,
.place-card__name {
  -webkit-transform: translateZ(10px);
          transform: translateZ(10px);
}
.place-card__filter-button {
  cursor: pointer;
  border: 0px;
  border-radius: 50px;
  font-family: 'Epilogue-Regular';
  padding: 12px 19px;
}
.place-card__name {
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-family: 'Epilogue-ExtraBold';
}

@media screen and (max-width:1040px) {
  .place-card__main {
    padding-left: 28px;
  }
}